/* font families  */
/* poppins & work sans */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
    background-color: #DCCCBF;
    padding: 5px;
    scroll-behavior: smooth;
}
.sidebar{
    width: 30%;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    position: fixed;
}
.sidebar img{width: 100%; border-radius: 15px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.contact-info{
    background-color: aliceblue; 
    padding: 10px;
    border-bottom: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.contact-info h2{
    font-size: 20px;
    text-align: center;
}
.contact-info h5{line-height: 20px;}
.contact-info span{display: block;}
a{
    color: #404040;
    text-decoration: none;
    background-image: linear-gradient(#222b40, #222b40),
      linear-gradient(navy, rgb(0,0,0)),
      linear-gradient(#feb2b2, #feb2b2);
    background-size: 20px 2px, 100% 2px, 0 2px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 2s linear, background-position 2s linear;
  }
  
a:hover {
    background-size: 20px 2px, 0 2px, 100% 2px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
  }
.sideright{
    background-color:azure;
    float: right;
    width: 65%;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 10px black;
}
.workex{
    line-height: 30px;
}
.edu span{display: block; line-height: 30px;}

@media screen and (max-width: 651px){
    body{margin:0;padding: 0;}
    .sidebar{
        display: block; 
        position: static; 
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .contact-info{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    } 
    .sideright{
        width: 100%; 
        padding: 0;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .objective, .workex, .tech, .edu, .cover{padding: 10px;}
} 